<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>HELP:</h1>
    <h3>Args: <br>
        password=<*> <br>
        email=<*> <br>
        fireDateTime=<2007-12-03T10:15> <br>
        reservationDate=<2007-12-03> <br>
        side=< B or C > <br><br>
        Example request: <br>
        https://warm-oasis-36897.herokuapp.com/footballReserve?password=qwerty&email=qwerty@gmail.com&fireDateTime=2007-12-03T10:15&reservationTime=10:15&reservationDate=2007-12-03&side=B
    </h3>
</body>
</html>